[Desktop Entry]
Name=Palm Rejection
Exec=palmrejection
Terminal=false
Type=Application
Icon=palmrejection
Comment=Disable touch screen when pen is near screen
